//SLiM 3 (v3.3): script for simulating mutation accumulation inside inversions

initialize() {
	initializeMutationRate(7.77e-8);
	initializeMutationType("m0", 0.5, "f", 0.0); // neutral mutations
	initializeMutationType("m1", 0, "g", -0.03, 0.12); // deleterious mutations
	initializeMutationType("m2", 0.5, "f", 0.0); // inversion marker
	initializeGenomicElementType("g1", c(m0, m1), c(1.0, 2.31)); // deleterious muts are 2.31 times more common
	initializeGenomicElement(g1, 0, 99999);
	initializeRecombinationRate(4.334e-06);
	// ~91% of recombination events are gene conversions, giving a crossover rate of 3.94e-7 and a gene conversion rate of 3.94e-6
	initializeGeneConversion(0.9090909, 335, 1, 0);
}

recombination() {
	inv = genome1.countOfMutationsOfType(m2)+genome2.countOfMutationsOfType(m2);
	if(inv == 0 | inv == 2)
 		return F;
	breakpoints = breakpoints[!breakpoints]; //Crossovers are removed from heterozygotes
	return T; 
}

fitness(m2){
	if (genome1.countOfMutationsOfType(m2)+genome2.countOfMutationsOfType(m2)==1)
		return 1.015; //Fitness benefit for heterozygotes
	else
		return relFitness;
}

500000 late() {
	sim.tag = 0;
	sim.readFromPopulationFile("burn_in.txt"); // First 100*N generations were simulated separately
	defineConstant("simID", getSeed());
	sim.outputFull("/tmp/slim_" + simID + ".txt");
}

500001 late() {
	target = p1.genomes[1];
	target.addNewDrawnMutation(m2, 50000);
}

500001:600002 late(){
	if(sim.countOfMutationsOfType(m2)==0){
		if((sim.generation-500001) < 10000){ // If SV is lost within the first 10000 generations, simulation is restarted with a new seed
			cat("Inversion lost at generation "+(sim.generation-500001)+", restarting\n");
			sim.readFromPopulationFile("/tmp/slim_" + simID + ".txt");
			setSeed(rdunif(1, 0, asInteger(2^62) - 1));
			sim.tag = 0;
			return;
		}
		else{
			cat("Inversion lost at generation "+(sim.generation-500001)+"\n");
			sim.simulationFinished();
			return;
		}
 	}
	else if((sim.generation-500001) % 1000 == 0){
		tot = 0;
		while(tot == 0){
			samp = sample(p1.individuals, 100, T);
			tot = sum(samp.countOfMutationsOfType(m2));	
		}
		if(tot > 100)
			min_a = 0;
		else 
			min_a = 1;
		if(sim.tag == 0){
			writeFile("out.txt",paste("gen maj_S maj_N min_S min_N freq"));
			sim.tag = 1;	
		}
		maj_S = 0;
		maj_S_i = 0;
		min_S = 0;
		min_S_i = 0;
		maj_N = 0;
		maj_N_i = 0;
		min_N = 0;
		min_N_i = 0;
		for(i in samp){
			muts_S0 = i.genomes[0].mutationsOfType(m0);
			muts_N0 = i.genomes[0].mutationsOfType(m1);
			sv0 = i.genomes[0].mutationsOfType(m2);
			muts_S1 = i.genomes[1].mutationsOfType(m0);
			muts_N1 = i.genomes[1].mutationsOfType(m1);
			sv1 = i.genomes[1].mutationsOfType(m2);
			if((sv0.size() == 1 & min_a == 1) | (sv0.size() == 0 & min_a == 0)){
				min_S = min_S + muts_S0.size(); // number of synonymous muts in one chr
				min_S_i = min_S_i + 100000 * 0.3021148; // number of synonymous sites in one chr
				min_N = min_N + muts_N0.size(); // number of nonsynonymous muts in one chr
				min_N_i = min_N_i + 100000 * 0.6978852; // number of nonsynonymous sites in one chr
			}
			else{
				maj_S = maj_S + muts_S0.size();
				maj_S_i = maj_S_i + 100000 * 0.3021148;
				maj_N = maj_N + muts_N0.size();
				maj_N_i = maj_N_i + 100000 * 0.6978852;
			}
			if((sv1.size() == 1 & min_a == 1) | (sv1.size() == 0 & min_a == 0)){
				min_S = min_S + muts_S0.size();
				min_S_i = min_S_i + 100000 * 0.3021148;
				min_N = min_N + muts_N0.size();
				min_N_i = min_N_i + 100000 * 0.6978852;
			}
			else{
				maj_S = maj_S + muts_S0.size();
				maj_S_i = maj_S_i + 100000 * 0.3021148;
				maj_N = maj_N + muts_N0.size();
				maj_N_i = maj_N_i + 100000 * 0.6978852;
			}
		}
		maj_S = maj_S / maj_S_i;
		maj_N = maj_N / maj_N_i;
		if(min_S > 0)
			min_S = min_S / min_S_i;
		else
			min_S = "NA";
		if(min_N > 0)
			min_N = min_N / min_N_i;
		else
			min_N ="NA";
			
		writeFile("out.txt",paste((sim.generation-500001)+" "+maj_S+" "+maj_N+" "+min_S+" "+min_N+" "+tot/200),append=T);
	}
}
